@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 300px) {
    #countdown {
        display: none;
    }

    #content-body{
        padding: 0;
    }

    #signup-modal-body {
        margin: 0;
        width: 100%;
    }
}
